/* .form-container {
    width: 100%;
    margin: auto
} */

.nav-item .active {
    font-weight: 900 !important;
    text-decoration: underline !important;
}

.container_sp {
    padding: 1rem;
}

.diact {
    color: #000 !important;
}

.disabled {
    color: #ccc !important;
}

.redTest {
    color: #f00;
    font-weight: 600;
}

.form-cover {
    width: 50%;
    margin: auto;
}